header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

header img {
    height: 5rem;
    margin: 0 1rem;
}

#menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#menu>li {
    margin: 0 2rem;
    font-size: 1.2rem;
}


#main-img {
    width: 100%;
    height: 70vh;
}

#main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 41%;
    filter: brightness(70%);
}

.products-container {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: -1.5rem;
}

.product {
    width: 33.3%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.product h3 {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    height: 5rem;
}

.product img {
    width: 30%;
    margin-bottom: 3rem;
}

.product p {
    margin-bottom: 0rem;
}

#about {
    margin-top: 18.5rem;
    padding: 5rem;
    background: #dee3e2;
}

#about h1 {
    text-align: center;
    padding-bottom: 2.5rem;
}

.about-product {
    padding: 1rem;
    box-shadow: 10px 10px 53px -23px rgba(0, 0, 0, 0.75);
    background-color: white;
    margin-bottom: 2rem;
    min-height: 34rem;
    border-radius: 1rem;
}

.about-product img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

#products-description {
    margin-top: 18.5rem;
    padding: 7rem 0;
}


@media only screen and (max-width: 992px) {
    .product {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0.5rem;
        left: 50%;
        position: absolute;
    }

    .products-container {
        position: static;
        display: block;
    }

    #about {
        margin-top: 0;
        padding: 1rem;
    }

    #products-description {
        margin-top: 0;
        padding: 1rem;
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    #menu>li {
        margin: 1rem 0;
        font-size: 1.2rem;
    }
}